@import "compass/css3/transition";

.left,
.right {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 80px 40px 40px;
    * {
        opacity: 0;
        @include transition-property("opacity");
        @include transition-duration("300ms");
    }
    .is-loaded & * {
        opacity: 1;
    }
}

.right {
    color: #fff;
    background-color: #1a1a1a;
}

#fonts {
    position: fixed;
    top: 40px;
    left: 40px;
    opacity: 0;
    @include transition-property("opacity");
    @include transition-duration("300ms");
    .is-loaded & {
        opacity: 1;
    }
}

*:focus {
    outline: none;
}

.italic {
    font-style: italic;
}
